<div class="container">
  <form id="contact" action="" method="post">
    <h3></h3>
    <h3>Login here to access the website</h3>
    <div>
      <label for="username"></label>
      <input placeholder="Enter Username" type="text" [(ngModel)]="userName" name="username" tabindex="1" required autofocus>
    </div>
    <div class>
      <label for="password"> </label>
      <input placeholder="Enter Password" type="password" [(ngModel)]="password" name="password" tabindex="3" required>
    </div>
    <div>
    </div>
    <div>
    </div>
    <div>
        <button id="loginbutton" (click)="login()">Login</button>
        New to the website?
        <button id="signupbutton" (click)="signUp()"> Signup</button>
    </div>

  </form>
</div>
